@page "/MyReviews"
@using CourseProject.Services
@inject ViewService viewService
@inject NavigationManager navigationManager

<MudButton OnClick="RedirectToReviewForm" Variant="Variant.Filled">Write review</MudButton>
@if (viewService.CurrentUserReviews is null)
{
    <text>Loading...</text>
}
else if (!viewService.CurrentUserReviews.Any())
{
    <p>You dont have any reviews yet. Consider write one!</p>
}
else
{
    @foreach (var r in viewService.CurrentUserReviews!)
    {
        <ReviewCard Review="@r" />
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await viewService.GetUserReviewsAsync();
        viewService.ListChanged += OnListChanged;
    }

    private void RedirectToReviewForm()
        => navigationManager.NavigateTo("/ReviewForm");

    private void OnListChanged(object? sender, EventArgs e)
        => this.InvokeAsync(this.StateHasChanged);

    public void Dispose()
        => viewService.ListChanged -= OnListChanged;
}