@using IronPdf
@inject IJSRuntime JS
<MudButton OnClick="Convert">ConvertToPdf</MudButton>

@code {
    [Parameter]
    public string ReviewId { get; set; } = default!;


    private async Task Convert()
    {
        var renderer = new ChromePdfRenderer();
        var pdf = await renderer.RenderHtmlAsPdfAsync("<h1>Hello World</h1>");
        using var content = new DotNetStreamReference(stream: pdf.Stream);
        await JS.InvokeVoidAsync("SubmitHTML", "review.pdf", content);
    }
}
