<AuthorizeView>
    <Authorized>
        <MudText Class="mr-4">Hello, @context.User.Identity?.Name!</MudText>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <div>
            <MudLink Color="Color.Inherit" Href="/Login" Class="mr-4">Login</MudLink>
            <MudLink Color="Color.Inherit" Href="Identity/Account/Register">Register</MudLink>
        </div>
    </NotAuthorized>
</AuthorizeView>
