<MudCard Outlined="true">
    <MudCardContent>
        <div class="d-flex flex-row">
            <MudText Typo="Typo.caption">@Comment.User.Email</MudText>
            <MudSpacer/>
            <MudText Typo="Typo.caption">@Comment.LeftOn.ToShortDateString()</MudText>
        </div>
        <MudText>@Comment.Text</MudText>
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public Comment Comment { get; set; } = default!;
}
